<mat-toolbar style="height: 100px" color="secondary" class="mat-elevation-z4">
    <mat-form-field>
        <mat-label>Select City</mat-label>
        <mat-select [(value)]="selected">
            <!--<mat-option *ngFor="let city of cities" [value]="city">
                {{ city }}
            </mat-option>-->
            <mat-option value="Chicago">
                Chicago
            </mat-option>
            <mat-option value="New York">
                New York
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-toolbar>

<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                1910
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            Between 1910 and 1930, the African American population of Chicago
            increased dramatically, from 44,103 to 233,903. This Great Migration
            had an immense cultural impact, called the Chicago Black
            Renaissance, part of the New Negro Movement, in art, literature, and
            music. Continuing racial tensions and violence, such as the Chicago
            Race Riot of 1919, also occurred.
        </mat-card-content>

        <img
            mat-card-image
            src="https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1413&q=80"
        />

        <mat-card-header>
            <mat-card-title>
                1920
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            The ratification of the 18th amendment to the Constitution in 1919
            made the production and sale (including exportation) of alcoholic
            beverages illegal in the United States. This ushered in the
            beginning of what is known as the Gangster Era, a time that roughly
            spans from 1919 until 1933 when Prohibition was repealed. The 1920s
            saw gangsters, including Al Capone, Dion O'Banion, Bugs Moran and
            Tony Accardo battle law enforcement and each other on the streets of
            Chicago during the Prohibition era. Chicago was the location of the
            infamous St. Valentine's Day Massacre in 1929, when Al Capone sent
            men to gun down members of a rival gang, North Side, led by Bugs
            Moran.
        </mat-card-content>
    </mat-card>
</div>
