<mat-toolbar color="secondary" class="mat-elevation-z4">
    <form>
        <mat-form-field>
            <!-- TODO
            Inline this search icon w/ placeholder text 
            <span matPrefix><mat-icon>search</mat-icon>&nbsp;</span>
            <mat-icon mdPrefix>search</mat-icon>
            -->
            <input matInput placeholder="Filter" />
        </mat-form-field>
    </form>
</mat-toolbar>

<mat-grid-list cols="4" rowHeight="2:1">
    <!--Draft for expanding candidate cards.
        Will need to use *ngFor directive to generate as
        many cards as a search returns or filters.-->
    <mat-grid-tile>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <div mat-card-avatar>
                        <!--Image goes in the above opening tag-->
                    </div>
                    <mat-panel-title>
                        <!--Candidate Name-->
                    </mat-panel-title>
                    <mat-panel-description>
                        <!--Years in Office-->
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <!--Candidate Description goes here-->
            </mat-expansion-panel>
        </mat-accordion>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <div mat-card-avatar>
                        <!--Image goes in the above opening tag-->
                    </div>
                    <mat-panel-title>
                        <!--Candidate Name-->
                    </mat-panel-title>
                    <mat-panel-description>
                        <!--Years in Office-->
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <!--Candidate Description goes here-->
            </mat-expansion-panel>
        </mat-accordion>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <div mat-card-avatar>
                        <!--Image goes in the above opening tag-->
                    </div>
                    <mat-panel-title>
                        <!--Candidate Name-->
                    </mat-panel-title>
                    <mat-panel-description>
                        <!--Years in Office-->
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <!--Candidate Description goes here-->
            </mat-expansion-panel>
        </mat-accordion>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <div mat-card-avatar>
                        <!--Image goes in the above opening tag-->
                    </div>
                    <mat-panel-title>
                        <!--Candidate Name-->
                    </mat-panel-title>
                    <mat-panel-description>
                        <!--Years in Office-->
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <!--Candidate Description goes here-->
            </mat-expansion-panel>
        </mat-accordion>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <div mat-card-avatar>
                        <!--Image goes in the above opening tag-->
                    </div>
                    <mat-panel-title>
                        <!--Candidate Name-->
                    </mat-panel-title>
                    <mat-panel-description>
                        <!--Years in Office-->
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <!--Candidate Description goes here-->
            </mat-expansion-panel>
        </mat-accordion>
    </mat-grid-tile>
</mat-grid-list>
