<br/>
<mat-card style="margin: auto;">
    <mat-card-content>
        <div id="home-container">
            <h1 id="welcome-heading">Welcome</h1>
            <br />
            <!--
            <mat-icon id="how-1" class="home-icon">
                how_to_vote
            </mat-icon>
            <br />
            <mat-icon class="home-icon">where_to_vote</mat-icon>
            -->
        </div>
        <!--
        <button (click) = "healthcheck()">Healthcheck</button>
        -->
        <!--
                <a mat-button id="sidenav-button" routerLink="">
                    HOME
                </a>
                <br />
                <a mat-button id="sidenav-button" routerLink="cities">
                    CITIES
                </a>
                <br />
                <a mat-button id="sidenav-button" routerLink="candidates">
                    CANDIDATES
                </a>
                <br />
                <a mat-button id="sidenav-button" routerLink="graphs">
                    GRAPH
                </a>
            -->
    </mat-card-content>
</mat-card>
