<!--Main Toolbar-->
<mat-toolbar class="mat-elevation-z6" id="title-bar" color="primary">
    <button
        mat-icon-button
        color="secondary"
        aria-label="Menu"
        (click)="sidenav.toggle()"
    >
        <!--Call sidenav.toggle to open/close the side menu-->
        <mat-icon>menu</mat-icon>
    </button>

    <span class="fill-space">
        <!--Fill Remaining Space For Alignment Purposes-->
    </span>

    <span>City Elections Project</span>

    <span class="fill-space">
        <!--Fill Remaining Space for Alignment Purposes-->
    </span>

    <a mat-icon-button href="https://twitter.com/">
        <mat-icon fontSet="fab" fontIcon="fa-twitter"></mat-icon>
    </a>

    <!--Items rendered in  the extended Menu-->
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item>Login</button>
        <button mat-menu-item>Logout</button>
    </mat-menu>

    <!--Icon Button that represents a Right-Aligned Menu-->
    <button
        mat-icon-button
        color="secondary"
        aria-label="Login"
        [matMenuTriggerFor]="appMenu"
    >
        <mat-icon>person</mat-icon>
    </button>
</mat-toolbar>

<!--The rest of the webpage needs to be rendered inside of the sidenav,
    so the pretty animation can affect all relevant parts of the 
    webpage-->
<mat-sidenav-container
    hasBackdrop="false"
    id="container"
    fullscreen
    class="mat-typography sidenav-container"
>
    <!--Two way bind the opened boolean to programmatically open side menu-->
    <mat-sidenav
        class="mat-elevation-z2"
        #sidenav
        mode="side"
        [(opened)]="opened"
    >
        <!--Links to Locations in app should go here-->

        <!-- Vertical Tabs Idea 
    <nav mat-tab-nav-bar color="accent">
      <a mat-tab-link href=".">First Link</a>
      <a mat-tab-link href=".">Second Link</a>
    </nav> 
    -->
        <div (click)="sidenav.close()">
            <a mat-button id="sidenav-button" routerLink="">
                HOME
            </a>
            <br />
            <a mat-button id="sidenav-button" routerLink="cities">
                CITIES
            </a>
            <br />
            <a mat-button id="sidenav-button" routerLink="candidates">
                CANDIDATES
            </a>
            <br />
            <a mat-button id="sidenav-button" routerLink="graphs">
                GRAPH
            </a>
        </div>
    </mat-sidenav>
    <!--Implicit Main Content-->

    <!--Routes get generated as Siblings to router-outlet-->
    <router-outlet></router-outlet>

    <!--Make Footer appear underneath main page content-->

</mat-sidenav-container>
<app-footer></app-footer>