<h1 mat-dialog-title>Welcome</h1>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput [(ngModel)]="data.username" type="text" placeholder="Username" />
    </mat-form-field>
    <br />
    <mat-form-field>
        <input matInput [(ngModel)]="data.password" type="password" placeholder="Password" />
    </mat-form-field>
    <mat-progress-bar mode="indeterminate" *ngIf="inProgress"></mat-progress-bar>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="login()" cdkFocusInitial>LOGIN</button>
    <button mat-button (click)="register()">REGISTER</button>
</div>
